@charset "utf-8";
/* CSS Document */

.hovertable {
font-family: verdana,arial,sans-serif;
font-size:11px;
color:#000000;
border-width: 1px;
border-color:#0F0;
border-collapse: collapse;
}
table.hovertable th {
background-color:#c3dde0;
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
table.hovertable td {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
  .button{
background:#333333;
height:30px;
border:#000000 3px solid;
color:#fff;
font-weight:bold;
font-size:14px;
text-align:center;
vertical-align:middle;
line-height:20px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;	
}
.text_right {
 BORDER-RIGHT: #099 1px solid;
 BORDER-TOP:  #099 1px solid;
 FONT-SIZE: 9pt;
 BACKGROUND: #FFFFFF;
 BORDER-LEFT:  #099 1px solid;
 COLOR: black;
 BORDER-BOTTOM:  #099 1px solid;
 FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif;
 text-align:right;
 text-transform:uppercase;
}
.table_blue {
 BORDER-RIGHT: #4D4F01 1px solid;
 BORDER-TOP:  #4D4F01 1px solid;
 FONT-SIZE: 7pt;
 /*BACKGROUND: #F4FAFF;*/
 BORDER-LEFT:  #4D4F01 1px solid;
 COLOR: black;
 BORDER-BOTTOM: #4D4F01 1px solid;
 FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}  
.table_bl {
 BORDER-RIGHT: #4D4F01 1px solid;
 BORDER-TOP:  #4D4F01 1px solid;
 FONT-SIZE: 12pt;
 /*BACKGROUND: #F4FAFF;*/
 BORDER-LEFT:  #4D4F01 1px solid;
 COLOR: black;
 BORDER-BOTTOM: #4D4F01 1px solid;
 FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}  
.btn_blue{
   color:#400040;
   font-family:'tahoma',helvetica,sans-serif;
   font-size:95%;
   font-weight:bold;
   background-color:#fed;
   HEIGHT: 22px;
   CURSOR: hand;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#9BCDFF',EndColorStr='#FFFFFF');
 }
  .button{
background:#333333;
height:30px;
border:#000000 3px solid;
color:#fff;
font-weight:bold;
font-size:14px;
text-align:center;
vertical-align:middle;
line-height:20px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;	
}
.tr_blue
{
  background-color:#099;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight:bold;
  border-style: solid;
  color: #000000;
  font-size: 11px;
  line-height:20px;
}
.smalltext 
{
  FONT: 10px arial, verdana, sans-serif
}
